<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header><%- include('../partials/header'); %></header>

    <div class="main-content">
        <h1>Invoices</h1>

        <div class="cta-section">
            <button class="btn btn-primary" data-izimodal-open="#addModal" data-izimodal-transitionin="fadeInDown">CREATE
                NEW INVOICE</button>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Invoice Number</th>
                        <th>Customer Name</th>
                        <th>Engagement Name</th>
                        <th>Due Date</th>
                        <th>Subtotal</th>
                        <th>Price Adjustments</th>
                        <th>Total Amount</th>
                        <th>Invoice Status</th>
                        <th>Notes</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<invoices.length; i++){ %>
                    <tr>
                        <td><%= invoices[i].invoice_number %></td>
                        <td><%= `${invoices.first_name} ${invoices.last_name}` %></td>
                        <td><%= invoices[i].engagement_name %></td>
                        <td><%= invoices[i].due_date %></td>
                        <td><%= invoices[i].sub_total %></td>
                        <td><%= invoices[i].price_adjustments %></td>
                        <td><%= invoices[i].total_amount %></td>
                        <td>
                          <select name="" id="" data-id="<%= invoices[i].invoice_id %>">
                            <%
                              var options = [ "", "Draft", "Open", "Finalized", "Paid", "Closed", "Void" ];
                              for ( var j = 0; j < options.length; j++ )
                              {
                                  var selected = ( invoices[i].invoice_status == j ) ? "selected" : "";
                                  %><option value="<%=options[ j ] %>" <%=selected %>><%=j %></option><%
                              }
                            %>
                          </select>
                        </td>
                        <td><%= invoices[i].notes %></td>
                        <td>
                            <a href="/invoices/<%= invoices[i].invoice_id %>" class="btn btn-dark">VIEW</a>
                        </td>
                    </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <!-- MODALS -->
    <div id="addModal" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal modals">

        <div class="iziModal-content">
            <form id="add_invoice_form" method="POST">
                <h1>CREATE NEW INVOICE</h1>
                <div class="group">
                  <label for="customer_id">Customer Name</label>
                  <select name="customer_id" id="customer_id">
                      <option value="">Select Customer</option>
                  </select>
                </div>

                <div class="group">
                  <label for="engagement_id">Program Name</label>
                  <select name="engagement_id" id="engagement_id">
                      <option value="">Select Program</option>
                  </select>
                </div>
                
                <div class="group">
                    <label for="due_date">Due Date</label>
                    <input type="date" id="due_date" name="due_date">
                </div>
                
                <div class="group">
                    <label for="total_fee">Total Amount</label>
                    <textarea name="notes" id="notes" cols="30" rows="10"></textarea>
                </div>
                <button id="add_invoice" class="btn">SUBMIT</button>
            </form>
        </div>

    </div>

    <div id="editModal" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal modals">

        <div class="iziModal-content">
          <form id="edit_invoice_form" method="POST">
            <h1>CREATE NEW INVOICE</h1>
            <div id="edit_invoice_message"></div>
            <div class="group">
              <label for="customer_id_edit">Customer Name</label>
              <select name="customer_id" id="customer_id_edit">
                  <option value="">Select Customer</option>
              </select>
            </div>

            <div class="group">
              <label for="engagement_id_edit">Program Name</label>
              <select name="engagement_id" id="engagement_id_edit">
                  <option value="">Select Program</option>
              </select>
            </div>
            
            <div class="group">
                <label for="due_date_edit">Due Date</label>
                <input type="date" id="due_date_edit" name="due_date">
            </div>
            
            <div class="group">
                <label for="notes_edit">Notes</label>
                <textarea name="notes" id="notes_edit" cols="30" rows="10"></textarea>
            </div>
            <input type="hidden" name="id" id="invoice_id_edit">
            <button id="update_invoice" class="btn">SUBMIT</button>
        </form>
        </div>

    </div>

    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/popper.min.js"></script>
    <script src="scripts/iziModal.min.js"></script>

    <script>
        const BASE_URL = "https://afternoon-dawn-87591.herokuapp.com";
        
        $("#addModal").iziModal({
            overlayClose: true,
            width: 600,
            autoOpen: false,
            overlayColor: 'rgba(0, 0, 0, 0.6)',
        });

        $("#editModal").iziModal({
            overlayClose: true,
            width: 600,
            autoOpen: false,
            overlayColor: 'rgba(0, 0, 0, 0.6)',
        });

        // GET AND APPEND DATA
        $(document).ready(()=> {
            getCustomerList((data) => {
              const customer_id = document.getElementById('customer_id');
              const customer_id_edit = document.getElementById('customer_id_edit');
              customer_id.innerHTML = '<option value="" selected disabled>Select Payment Plan</option>';
              customer_id_edit.innerHTML = '<option value="" selected disabled>Select Payment Plan</option>';

              data.forEach(element => {
                  console.log(element);
                  customer_id.innerHTML += `<option value="${element.customer_id}">${element.first_name} ${element.last_name}`;
                    customer_id_edit.innerHTML += `<option value="${element.customer_id}">${element.first_name} ${element.last_name}`;
              });
            });

            getEngagementList((data) => {
              const engagement_id = document.getElementById('engagement_id');
              const engagement_id_edit = document.getElementById('engagement_id_edit');
              engagement_id.innerHTML = '<option value="" selected disabled>Select Payment Plan</option>';
              engagement_id_edit.innerHTML = '<option value="" selected disabled>Select Payment Plan</option>';

              data.forEach(element => {
                  console.log(element);
                  engagement_id.innerHTML += `<option value="${element.engagement_id}">${element.engagement_name}`;
                  engagement_id_edit.innerHTML += `<option value="${element.engagement_id}">${element.engagement_name}`;
              });
            });
        });

        $(".editBtn").click((e) => {
            e.preventDefault();
            const id = e.target.dataset.id;

            getInvoiceData(id, (data) => {
                const customer_id_edit = document.getElementById('customer_id_edit');
                const engagement_id_edit = document.getElementById('engagement_id_edit');
                const due_date_edit = document.getElementById('due_date_edit');
                const notes_edit = document.getElementById('notes_edit');
                const invoice_id_edit = document.getElementById('invoice_id_edit');

                for (var option of customer_id_edit.options) {
                    console.log(option);
                    console.log(data.invoice.customer_id);

                    if(option.value == data.invoice.customer_id) {
                        console.log("selected");
                        option.setAttribute("selected", "true");
                    }
                }

                for (var option of engagement_id_edit.options) {
                    console.log(option);
                    console.log(data.invoice.engagement_id);

                    if(option.value == data.invoice.engagement_id) {
                        console.log("selected");
                        option.setAttribute("selected", "true");
                    }
                }

                if(data.invoice.due_date) {
                    const due_date = new Date(data.customer.due_date);
                    const month = due_date.getMonth()+1;
                    const year = due_date.getFullYear();
                    const day = due_date.getDate();

                    var monthString;
                    var dateString;
                    if(month <= 9) {
                        monthString = '0'+month;
                    } else {
                        monthString = month;
                    }

                    if(day <= 9) {
                        dateString = '0'+day;
                    } else {
                        dateString = day;
                    }

                    const format = `${year}-${monthString}-${dateString}`;
                    birthdayField.value = format;
                }

                notes_edit.value = data.invoice.notes;
                invoice_id_edit.value = data.invoice.invoice_id;
            });
        });

        // SEND DATA
        $("#add_invoice").click((e) => {
            e.preventDefault();

            const add_invoice_form = document.getElementById('add_invoice_form');
            const formData = new FormData(add_invoice_form);

            const data = JSON.stringify({
                "customer_id": formData.get("customer_id"),
                "engagement_id": formData.get("engagement_id"),
                "due_date": formData.get("due_date"),
                "notes": formData.get("notes"),
            });

            fetch(BASE_URL + "/add-invoice", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: data,
            }).then(function (response) {
                return response.json();
            }).then(function (data) {
                console.log(data);
                if(data.success && data.invoice_id) {
                  window.location.replace(`${BASE_URL}/invoice/${data.invoice_id}`);
                }
            }).catch(function (err) {
                console.warn('Something went wrong.', err);
            });
        });

        $("#update_invoice").click((e) => {
            e.preventDefault();

            const edit_invoice_form = document.getElementById("edit_invoice_form");
            const edit_invoice_message = document.getElementById('edit_invoice_message');
            const formData = new FormData(edit_invoice_form);

            const data = JSON.stringify({
                "customer_id": formData.get("customer_id"),
                "engagement_id": formData.get("engagement_id"),
                "due_date": formData.get("due_date"),
                "notes": formData.get("notes"),
                "id": formData.get("id"),
            });

            fetch(BASE_URL + "/update-invoice", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: data,
            }).then(function (response) {
                return response.json();
            }).then(function (data) {
                console.log(data);
                generateSuccessMessage(data, edit_invoice_message);
            }).catch(function (err) {
                console.warn('Something went wrong.', err);
            });
        });

        // HELPERS
        function getInvoiceData(id, callback){
            $.ajax({url: `${BASE_URL}/get-invoice?id=${id}`, 
                success: function(result){
                    const response = JSON.parse(JSON.stringify(result));
                    console.log(response);
                    callback(response);
            }});
        }

        function getCustomerList(callback){
            $.ajax({url: `${BASE_URL}/list-customers`, 
                success: function(result){
                    const response = JSON.parse(JSON.stringify(result));
                    console.log(response);
                    callback(response);
            }});
        }

        function getEngagementList(callback){
            $.ajax({url: `${BASE_URL}/list-engagements`, 
                success: function(result){
                    const response = JSON.parse(JSON.stringify(result));
                    console.log(response);
                    callback(response);
            }});
        }

        function generateSuccessMessage(data, parentElement) {
            var status = '';
            if (data.success) {
                status = 'success';
            } else {
                status = 'error';
            }

            parentElement.innerHTML = "<p class='" + status + "'>" + data.message + "</p>";
        }
    </script>

</body>

</html>